<!--
  Generated template for the NewRecipePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        {{ 'CANCEL' | translate }}
      </button>
    </ion-buttons>

    <ion-title>{{ (recipe.$key ? 'NEW_RECIPE.TITLE.EDIT' : 'NEW_RECIPE.TITLE.NEW') | translate:recipe }}</ion-title>

    <ion-buttons end>
      <button ion-button color="primary" (click)="addOrUpdateRecipe()">{{ (recipe.$key ? 'SAVE' : 'ADD') | translate }}</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item>
      <ion-label floating>{{ 'NAME' | translate }}</ion-label>
      <ion-input type="text" name="name" [(ngModel)]="recipe.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>{{ 'NEW_RECIPE.INGREDIENTS' | translate }}</ion-label>
      <ion-select [cancelText]="'CANCEL' | translate" name="ingredients" [(ngModel)]="ingredients" multiple="true" [compareWith]="compareFn2" (ionChange)="deleteOrphanRawMaterial()">
        <ion-option *ngFor="let rm of rawMaterials | async"
                    [value]="rm">
          {{ rm.name }}
        </ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="ingredients.length > 0">
    <ion-list-header color="secondary">
     {{ 'NEW_RECIPE.QUANTITY_FOR_EACH_INGREDIENTS_HEADER' | translate }}
    </ion-list-header>
    <ion-item *ngFor="let ingredient of ingredients">
      <ion-label floating>{{ ingredient.name }}</ion-label>
      <ion-input type="number" name="quantity{{ ingredient.$key }}" [(ngModel)]="recipe.ingredients[ingredient.$key]"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer *ngIf="recipe.$key">
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button color="danger" (click)="deleteRecipe()">{{ 'DELETE' | translate }}</button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
