<!--
  Generated template for the EditProductionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        Annuler
      </button>
    </ion-buttons>

    <ion-title>Fabrication</ion-title>

    <ion-buttons end>
      <button ion-button color="primary" (click)="saveProduction()">
        Sauvegarder
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar color="primary">
    <ion-searchbar placeholder="Recherche" (ionInput)="searchProduction($event)"></ion-searchbar>
  </ion-toolbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item-divider color="secondary">Recettes</ion-item-divider>
    <ion-item *ngIf="loadingRecipes" no-lines>
      <ion-spinner item-left></ion-spinner>
      Chargement...
    </ion-item>
    <ion-item *ngFor="let recipe of recipes | async">
      <ion-label>{{ recipe.name }}</ion-label>
      <ion-input type="number"
                 name="recipeProduced{{ recipe.$key }}"
                 [(ngModel)]="recipesProduced[recipe.$key]"
                 text-right
                 placeholder="Nombre de fois produite"></ion-input>
    </ion-item>
    <ion-item-divider color="secondary">Ingrédients composés</ion-item-divider>
    <ion-item *ngIf="loadingComposedMaterials" no-lines>
      <ion-spinner item-left></ion-spinner>
      Chargement...
    </ion-item>
    <ion-item *ngFor="let composedMaterial of composedMaterials | async">
      <ion-label>{{ composedMaterial.name }}</ion-label>
      <ion-input type="number"
                 name="composedMaterialsProduced{{ composedMaterial.$key }}"
                 [(ngModel)]="composedMaterialsProduced[composedMaterial.$key]"
                 text-right
                 placeholder="Nombre de kg produit"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
